# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_export_environment.sh

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Web / Desktop
web/.dart_tool/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# IDE / OS
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
